<v-dragger>
  <div class="item item1" data-seq="1">
    <p class="title">item1</p>
    <div class="content" style="background: lightblue;">
      <p>1</p>
    </div>
  </div>
  <div class="item item2" data-seq="2">
    <p class="title">item2</p>
    <div class="content" style="background: lightgreen;">
      <p>2</p>
    </div>
  </div>
  <div class="item item3" data-seq="3" >
    <p class="title">item3</p>
    <div class="content" style="background: yellowgreen;">
      <p>3</p>
    </div>
  </div>
  <div class="item item4" data-seq="4">
    <p class="title">item4</p>
    <div class="content" style="background: lightsalmon;">
      <p>4</p>
    </div>
  </div>
  <div class="item item5" data-seq="5">
    <p class="title">item5</p>
    <div class="content" style="background: lightgray;">
      <p>5</p>
    </div>
  </div>
  <div class="item item6" data-seq="6">
    <p class="title">item6</p>
    <div class="content" style="background: lightslategrey;">
      <p>6</p>
    </div>
  </div>
</v-dragger>